.parent{
    height: 100%;
    width: 100%;
    background-color: rgb(126, 168, 168);
    display: flex;
}
.left{
    min-height: 100%;
    width: 20%;
    background-color: gray;
}
.right{
    height: 100%;
    width: 80%;
    background-color: rgb(80, 80, 16);
    display: flex;
    flex-wrap: wrap;

}
.card{
    width: 220px;
    height: 350px;
    margin-left: 10px;
    margin-top: 10px;


}
.xyz{
    height: 200px;
    width: 100%;

}
.rating{
    font-size: 14px;
    background-color: gray;
    width: 50px;
    text-align: center;
    margin-left:10px;
    position: relative;
    bottom: 15px;
}
.title{
    font-size: 14px;
    color:rgb(11, 20, 149);
    margin-left: 10px;
    margin-top: -10px;

}
.category{
    font-size: 20px;
    margin-left: 10px;
    margin-top: -20px;
    font-weight: 700;
}
.price{
    font-size: 14px;
    color:red;
    margin-left: 10px;
    margin-top: -10px;
}
.list{
    list-style-type: none;
    color: white;

}
.Filter{
    color: white;
    text-align: center;
}