<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h1 routerLink="home">Home</h1>
        <h1 routerLink="about">About</h1>
        <h1 routerLink="data-binding">DataBindingComponent</h1>
        <h1 routerLink="calculator">CalculatorComponent</h1>
        <h1 routerLink="rectangle">Rectangle</h1>
        <h1 routerLink="circle">circle</h1>
        <h1 routerLink="table">table</h1>
        <h1 routerLink="cars">cars</h1>
        <h1 routerLink="myntra">myntra</h1>
        <h1 routerLink="vehicles">vehicles</h1>
        <h1 routerLink="fourwheeler">fourwheeler</h1>
        <h1 routerLink="accounts">accounts</h1>
        <h1 routerLink="flipkart">flipkart</h1>  
        <h1 routerLink="mail">mail</h1>  
        <h1 routerLink="api">API</h1>  
        <h1 routerLink="photo">photo</h1>  
        <h1 routerLink="angularmaterial">angularmaterial</h1>  
        <h1 routerLink="createcar">createcar</h1>  
        <h1 routerLink="createaccountform">createaccountform</h1>  
        <h1 routerLink="createuserform">createuserform</h1>  
        <h1 routerLink="parent">parent</h1>  
        <h1 routerLink="calculation">calculation</h1>  
        <h1 routerLink="apprating">apprating</h1>  

        <button routerLink="/login" >login</button>        
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>